# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\OneDrive\___PJA\Przedmioty\___Semesr 2\Projektowanie Obiektowa w Javie\ITN\cwiczenia\Buchalka\Buchalka-Java\HelloWorld\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
